.button__container {
  margin-top: 75px;
  margin-left: 0px;
  text-align: center;
}

table {
  margin-left: 80px;
  margin-right: 80px;
  border-collapse:collapse;
  border-spacing: 4px;
}


table,
th,
td {
  text-align: left;
  border: 1px solid #cecfd5;
}
th,
td {
  padding: 10px 15px;
}

.autobahn_text_success {
  color: green;
  font-weight: 600;
}

.autobahn_text_failure {
  color: red;
}

.autobahn_text_other {
  color: yellow;
}

.ascend_text_success {
  color: green;
  font-weight: 600;
}

.ascend_text_failure {
  color: red;
}

.ascend_text_other {
  color: yellow;
}
